body {
  font-family: 'Kaushan Script', cursive;
}

h1 {
  /* clamp(MIN, VAL, MAX) */
  font-size: clamp(5rem, 5vw, 8rem);
}

.gallrey-section h2 {
  /* clamp(MIN, VAL, MAX) */
  font-size: clamp(2.7rem, 4vw, 6rem);
}

figcaption, p {
  /* clamp(MIN, VAL, MAX) */
  font-size: clamp(1.4rem, 2vw, 1.8rem);
}

.author {
  /* clamp(MIN, VAL, MAX) */
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  font-style: italic;
}

/* Footer */

footer p {
  /* clamp(MIN, VAL, MAX) */
  font-size: clamp(1rem, 2vw, 1.5rem);
}

footer li {
  /* clamp(MIN, VAL, MAX) */
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}